name: zdm_crawler

on:
  # 将下面两行代码取消注释以启用定时任务
  schedule:
    - cron: "0/15 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven

    # --- 修改开始：使用更稳定的方式安装浏览器环境 ---
    - name: Setup Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Setup ChromeDriver
      uses: nanasess/setup-chromedriver@v2
    # --- 修改结束 ---

    # 打包项目
    - name: Build with Maven
      run: |
        mvn package
        cp ./target/zdm-0.0.1.jar ./zdm.jar

    - name: main logic
      env:
        # 爬取数据时的最大翻页数量
        maxPageSize: 2
        # 点值的数量>minVoted,才会被推送
        minVoted: 23
        # 评论的数量>minComments,才会被推送
        minComments: 30
        # 优惠信息数量>MIN_PUSH_SIZE就会发邮件
        MIN_PUSH_SIZE: 20
        # 邮箱配置
        emailHost: smtp.qq.com
        emailPort: 465
        emailAccount: ${{ secrets.EMAILACCOUNT }}
        emailPassword: ${{ secrets.EMAILPASSWORD }}
        # 微信推送配置
        spt: ${{ secrets.spt }}
        # 是否打印详细日志
        detail: ture
      run: java -jar zdm.jar

    - name: Commit & Push database.db
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: 'update database'
        file_pattern: 'database.db'
        token: ${{ secrets.GIT_TOKEN }}
